{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert('{{messages[0]}}')
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href="../static/css/bus-main.css" rel="stylesheet">
</head>
<body>
<div style="position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);">
<h3 style="color:black; margin-top: 30%;">{{station}}에 정차하는 버스</h3><hr>



<form action="/bus/kakao" method="get">
    <input type="hidden" name="station" value="{{station}}">
<!--    <input type="submit" value="">-->
    <button onclick="location.href = '/' " class="w-btn w-btn-indigo" type="submit">카톡전송</button>
</form>



<table class="container" style="text-align:center">

    <tbody>
    {% for i in low %}
    <tr>
        <td>{{i}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="location.href = '/' " class="w-btn w-btn-indigo" type="button">홈으로</button>
<button onclick="location.href = '/bus/main' " class="w-btn w-btn-indigo" type="button">버스검색으로</button>
</div>
</body>
</html>
