<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이동 지원 센터 찾아보기</title>
    <link href="../static/css/bus-main.css" rel="stylesheet">
</head>
<body>
<h1 style="color:black;">Move Helper</h1>
<table class="container">
    <thead>
    <tr>
        <th><h1>지역명:</h1></th>
        <th><h1>기관명:</h1></th>
        <th><h1>전화번호:</h1></th>
        <th><h1>URL:</h1></th>
    </tr>
    </thead>
    {% for i in trans %}
    <tbody>
    <tr>
        <td>{{i.SIGUN_NM}}</td>
        <td>{{i.INST_NM}}</td>
        <td>{{i.TELNO}}</td>
        <td><a href="{{i.HMPG_URL}}">{{i.HMPG_URL}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<button onclick="location.href = '/' " class="w-btn w-btn-indigo" type="button">돌아가기</button>
</body>
</html>
