<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이동 지원 센터 찾아보기</title>
    <link href="../static/css/bus-main.css" rel="stylesheet">
</head>
<body>
<h1 style="color:black;">Move Helper</h1><br>
<!--여기에서 추가-->
<form action="/bus/station" method="get">
    저상버스 정류장 검색 : <input type="text" name="station">
    <input type="submit" value="검색">
</form>

<table class="container">
    <thead>
    <tr>
        <th><h1>지역명:</h1></th>
        <th><h1>기관명:</h1></th>
        <th><h1>전화번호:</h1></th>
        <th><h1>URL:</h1></th>
    </tr>
    </thead>
    <tbody>
    {% for i in trans %}
    <tr>
        <td>{{i.SIGUN_NM}}</td>
        <td>{{i.INST_NM}}</td>
        <td>{{i.TELNO}}</td>
        <td class="td-url">{{i.HMPG_URL}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="location.href = '/' " class="w-btn w-btn-indigo" type="button">돌아가기</button>
</body>
</html>
