{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert('{{messages[0]}}')
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>{{title1}} 상세 화면</h3>


<table style="text-align:center">
    {% for i in result[1] %}
    {% if title1 == i.title %}
    <tr>
        <th>{{i.alternativeTitle}}</th>
        <br>
    </tr>
    <tr>
        <td>{{i.description}}</td>
    </tr>
    <tr>
        <td><img src="{{i.referenceIdentifier}}"/></td>
    </tr>
    <tr>
        <th><a href="{{i.url}}">{{i.url}}</a></th>
        <br>
    </tr>
    {% endif %}
    </tr>
    {% endfor %}
    </tr>
</table>

</body>
</html>