<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if title1 in result[2] %}
<h3>{{title1}} 상세 화면</h3>
{% endif %}


<table style="text-align:center">
    {% if title1 not in result[2] %}
    검색어를 올바르게 입력하세요
    {% else %}
    {% for i in result[1] %}
    {% if title1 == i.title %}
    <tr>
        <th>{{i.alternativeTitle}}</th>
        <br>
    </tr>
    <tr>
        <td>{{i.description}}</td>
    </tr>
    <tr>
        <td><img src="{{i.referenceIdentifier}}"/></td>
    </tr>
    <tr>
        <th><a href="{{i.url}}">{{i.url}}</a></th>
        <br>
    </tr>
    {% endif %}
    </tr>
    {% endfor %}
    </tr>
    {% endif %}
</table>

</body>
</html>