{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
        alert('{{messages[0]}}')
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="s128">
<h3>수어 인덱스</h3>

<form action="/search" method="get">
    원하는 수어 검색: <input type="text" name="title">
    <input type="submit" value="검색">
</form>

<form action="/kakao" method="get">
    카톡으로 보낼 수어 : <input type="text" name="kakao">
    <input type="submit" value="카톡전송">
</form>
<br/>
<ul>
        {% for i in res %}
    <li><a href="/search?title={{i.title}}">{{i.title}}</a></li>
        {% endfor %}
</ul>
 </div>
</body>

</html>