<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="contact" class="home-section text-center">
		<div class="heading-contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-offset-2">

						<div class="section-heading">
							<div class="wow bounceInDown" data-wow-delay="0.4s">
<h2>수어 인덱스</h2>
		<div class="container">
<form action="/search" method="get">
    원하는 수어 검색: <input type="text" name="title">
    <input type="submit" value="검색">
</form>
<br/>

<ul>
        {% for i in res %}
    <li><a href="/search?title={{i.title}}">{{i.alternativeTitle}}</a></li>
        {% endfor %}
</ul>
        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</body>
</html>