<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="../static/css/lift-detail.css" rel="stylesheet">
    <link href="../static/css/bus-main.css" rel="stylesheet">
</head>
<body>
<div style="margin-left:500px;">
<h3>버스정류장 정보</h3>
<table border="1" class="container" style="padding-top: 0; " >
    <tr>
    {% for i in res %}

            <tr><td><a href="/bus/station?station={{i.stNm}}" style="text-decoration:none">{{i.stNm}}</a></td></tr>

    </tr>
    {% endfor %}
</table>


<button onclick="location.href = '/' " class="w-btn w-btn-indigo" type="button">돌아가기</button>
</div>
</body>
</html>